*,
*::after,
*::before{
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat';
    --text: #00114E;
    --main: #2E48A8;
    --hover: #447EEC;
    --bg: #F4F8FF;
    color: var(--text);
    font-size: 16px;
    line-height: 1.6;
}


img{
    max-width: 100%;
}

h2{
    font-weight: 500;
    font-size: 36px;
    color: var(--main);
}

h3{
    font-weight: 500;
    font-size: 24px;
    color: #2E48A8;
}

h4{
    font-weight: 700;
    font-size: 20px;
    color: var(--main);
}

header{
    position: absolute;
    left: 0;
    right: 0;
}

.menu-mobile,
.menu-btn{
    display: none;
}

.header__inner{
    padding: 40px 0 0 0;
}

.menu-list{
    text-align: right;
}

.menu-item{
    display: inline-block;
}

.menu-item:not(:nth-child(4)){
    margin-right: 45px;
}


.menu-link:hover{
    color: var(--hover);
}

.cover{
    background-image: url(/asset/img/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 80vh;
}

.cover__info{
    padding: 137px 0 0 0;
}

.cover__img{
    object-fit: contain;
}

.info__title{
    font-weight: 500;
    font-size: 48px;
    line-height: 160%;
    color: var(--main);
    max-width: 658px;
}

.info__text{
    max-width: 467px;
    margin: 38px 0 0 0;
}

.info__button{
    margin: 38px 0 0 0;
    width: 200px;
    height: 47px;
    background: var(--main);
    border-radius: 50px;
    color: #fff;
}

.info__button:hover{
    box-shadow: 0px 4px 10px rgba(68, 126, 236, 0.65);
    background-color: var(--hover);
}

.about, .kopp, .advantages{
    background-color: var(--bg);
}

.about__inner{
    padding: 100px 0 100px 0;
}

.about__text, .kopp__text{
    max-width: 620px;
    margin: 30px 0 15px 0;
}

.about__link, .kopp__link{
    font-weight: 500;
    font-size: 18px;
    color: var(--text);
}

.about__item img {
    display: block;
    object-fit: cover;
}

.swiper-pagination{
    position: unset;
}

.kopp__inner{
    padding: 100px 0 127px 0;
}

.advantages__inner{
    padding: 100px 0 75px 0;
}

.advantages__points{
    margin-top: 50px;
}

.points__text{
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 70px 0;
}

.point-1{
    max-width: 310px;
}

.point-3{
    max-width: 376px;
}

.point-4{
    max-width: 384px;
}

.advantages__points .points__item:nth-child(even){
    margin-left: 135px;
}

.point-decor-1, .point-decor-2{
    position: relative;
}

.point-decor-1::before{
    content: '';
    background-image: url(/asset/img/vector-1.png);
    position: absolute;
    width: 62px;
    height: 129px;
    top: -112px;
    left: 228px;
}

.point-decor-1::after{
    content: '';
    background: url(/asset/img/vector-2.png) no-repeat;
    position: absolute;
    width: 62px;
    height: 103px;
    top: 32px;
    left: -116px;
}

.point-decor-2::before{
    content: '';
    background-image: url(/asset/img/vector-1.png);
    position: absolute;
    width: 62px;
    height: 129px;
    top: -112px;
    left: 236px;
}

.category{
    background: url(/asset/img/bg2.png) no-repeat;
    padding: 80px 0 138px 0;
}

.category__title{
    margin: 0 0 120px 0;
}

.card{
    border: none;
}

.cards-item {
    border: 1px solid var(--main);
    border-radius: 10px;
    padding: 80px;
}

.cards-item:hover{
    background: var(--hover);
    border: 1px solid var(--hover);
}

.card-3 img{
    width: 58px;
    height: 66px;
}

.cards-item h3{
    margin: 40px 0 0 0;
}

.cards-item:hover h3{
    color: #fff;
}

.cards-item:hover img{
    filter: brightness(700%);
}

.reviews{
    padding: 70px 0 100px 0;
}

.reviews__title{
    margin: 0 0 120px 0;
}

.reviews__slider{
    max-width: 1520px;
}

.reviews__item{
    border: 1px solid var(--main);
    border-radius: 10px;
    padding: 50px 30px;
    margin-right: 20px;
    min-height: 450px;
}

.slide__title{
    min-height: 64px;
    margin: 0 0 30px;
}

.reviews__pagination{
    margin-top: 60px;
    text-align: left;
}

.contacts{
    padding: 70px 0 150px 0;
}

.contacts__title{
    margin: 0 0 50px 0;
}

.contacts__item{
    gap: 20px;
}

.map{
    border-radius: 30px;
}

.footer{
    padding: 50px 0 50px 0;
}

.footer__menu-link, .politics{
    color: #8088A7;
}

.mySwiper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}


@media (max-width: 400px){
    .point-decor-1::before,
    .point-decor-2::before,
    .point-decor-1::after,
    .cover__img{
        display: none;
    }

}

@media (max-width: 780px){
    .menu-btn{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60px;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 6;
    }

    .menu-btn span{
        height: 3px;
        width: 100%;
        background-color: #00114E;
    }

    .header__logo{
        z-index: 7;
    }

    .header__menu{
        display: none;
    }

    .menu-mobile{
        display: none;
    }

    .menu-mobile.menu--open{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #F4F8FF;
        height: 100vh;
        z-index: 5;
        text-align: center;
        padding-top: 140px;
    }

    .menu-link{
        color: #00114E;
        font-size: 3vh;
        display: block;
        padding: 20px 0;
    }
}

@media (max-width: 984px){
    .about__slider{
        margin-left: 0;
    }

    .kopp__inner{
        padding-top: 0;
    }

    .reviews__item{
        max-width: 520px;
    }

    .footer__menu-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .kopp__inner{
        padding-bottom: 0;
    }

    .category{
        padding-bottom: 30px;
    }
}

@media (max-width: 1100px){
    .point-decor-1::before,
    .point-decor-2::before{
        content: '';
        background-image: url(/asset/img/vector-1.2.png);
        background-repeat: no-repeat;
        position: absolute;
        width: 44px;
        height: 79px;
        top: -65px;
        left: 190px;
    }

}

@media (max-width: 1400px){
    .cards-item{
        padding: 40px;
    }
}












